@** Author: Jackson
    * Date: 21/05/2021
    * Version: 1.0.0.0
    * Objective: Split Main View*@

@using Device_Tracking_System.Models
@{
    ViewBag.Title = "GridView";
}

<script src="~/Scripts/sweetalart.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />

<script type="text/javascript">
    var selectedIDs = "";
    function OnBeginCallback(s, e) {
        e.customArgs["DeviceId"] = selectedIDs;
    }
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("DeviceId", GetSelectedFieldValuesCallback)
    }
    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = values.join(',');
    }
    $(document).ready(function () {
        var frm = $("#Split");
        frm.validate();
    });
    //function OnSubmitClick(s, e) {
    //    var selectedDevIDs = selectedIDs.split(",");
    //    if (selectedDevIDs.length > 1) {
    //        swal({
    //            title: "Are you sure to split?",
    //            text: "Once the devices been split, it required to rollback in MES and contact Process Engineer to merge the devices in DTS to undo the changes!",
    //            icon: "warning",
    //            showCancelButton: true,
    //            confirmButtonColor: "#DD6B55",
    //            confirmButtonText: "Confirm",
    //            cancelButtonText: "Cancel",
    //            closeOnConfirm: false,
    //            closeOnCancel: true,
    //            buttons: true,
    //            buttons: ["Cancel", "Confirm"]
    //        },
    //            function (isConfirm) {
    //                if (isConfirm) {
    //                    $("#selectedDIDs").val(selectedIDs);
    //                    $('#Split').submit();
    //                }
    //            }
    //        );
    //    }
    //    else if (selectedDevIDs.length = 0) {
    //        swal("Error", "Please select devices to split!", "error");
    //    }
    //}
    $(document).ready(function () {
        $("#btnSplit").click(function () {
            if (!(selectedIDs == "")) {
                swal({
                    title: "Are you sure to split?",
                    text: "Once the devices been split, it required to rollback in MES and contact Process Engineer to merge the devices in DTS to undo the changes!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirm",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: true,
                    closeOnCancel: true,
                    buttons: true,
                    buttons: ["Cancel", "Confirm"]
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $("#selectedDIDs").val(selectedIDs);
                            $('#Split').submit();
                            $("#loading").fadeIn();
                            document.onkeydown = function () {
                                return false;
                            }
                        }
                    }
                );
            }
            else {
                swal("ERROR", "Please select devices to split!", "error");
            }
        });
    });

    $(function () {
        $("#btnCancel").click(function () {
            $("#loading").fadeIn();
            $("#Cancel").submit();
        });
    });
</script>

<div>
    <h3 id="SplitDeviceTitle">Split Devices - @((Session["SplitLotInfo"] as LotValidation).LotNumber.ToUpper())  (@((Session["SplitLotInfo"] as LotValidation).Operation))</h3>
    @*<hr />*@
</div>
<div class="gridcontainer">
    @{Html.RenderAction("GridViewPartial");}
</div>


@using (Html.BeginForm("SplitCancel", "Split", FormMethod.Post, new { id = "Cancel" }))
{
    <div style="padding: 5px; float: right">
        <input type="button" value="Cancel" id="btnCancel" class="btn btn-danger" style="margin-left:10px" />
    </div>
}

@using (Html.BeginForm("SplitConfirm", "Split", FormMethod.Post, new { id = "Split" }))
{
    @Html.Hidden("selectedDIDs");

    <div style="padding: 5px; float: right">
        <input type="button" value="Split" id="btnSplit" class="btn btn-warning" />
    </div>
    <div style="padding: 5px; float: right">
        <input type="checkbox" name="splitFailDevices" value="true" id="chbSplit" />
        <label for="chbSplit">Include Fail Devices on MES Split Qty</label>
    </div>
}

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            <img src="~/Images/ajax-loader.gif" style="height:20px;width:20px" />
            Processing Request... Please Wait...
        </p>
    </div>
</div>




